<!DOCTYPE html>
<html>
  <head>
  	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>LoLith</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	</head>

<body>

<div class="page">
	<div class="title">
		<h1>Welcome to LoLith.</h1>
		<p>The League of Legends Information Tracking Hub</p>
	</div>
	<div class="main">
		<br /><span>Summoner Names</span>
		<br />

		<!-- <div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Region
  			<span class="caret"></span></button>
  			<ul class="dropdown-menu">
    			<li><a href="#">BR</a></li>
    			<li><a href="#">EUNE</a></li>
    			<li><a href="#">EUW</a></li>
    			<li><a href="#">JP</a></li>
    			<li><a href="#">KR</a></li>
    			<li><a href="#">LAN</a></li>
    			<li><a href="#">LAS</a></li>
    			<li><a href="#">NA</a></li>
    			<li><a href="#">OCE</a></li>
    			<li><a href="#">RU</a></li>
    			<li><a href="#">TR</a></li>
  			</ul>
		</div> -->
		<br />
		<div class="form-group region-selection">
  			<!-- <label for="sel1">Select list:</label> -->
  			<select class="form-control" id="sel1">
		    <option>BR</option>
		    <option>EUNE</option>
		    <option>EUW</option>
		    <option>JP</option>
		    <option>KR</option>
		    <option>LAN</option>
		    <option>LAS</option>
		    <option>NA</option>
		    <option>OCE</option>
		    <option>RU</option>
		    <option>TR</option>
		  </select>
		</div>

		<!-- <br /> -->
		<input id="userName" class="bot-space form-control" placeholder="Your Username" />
		<input id="enemyName" class="bot-space form-control" placeholder="Summoner 2 Username" />
		<button class="btn" id="submitPlayers">Submit</button>

		<br /><span>Summoner Level: <span id="sLevel"></span></span>
		<br /><span>Summoner ID: <span id="sID"></span></span>
		<br /><span>Summoner 2  Level: <span id="eLevel"></span></span>
		<br /><span>Summoner 2  ID: <span id="eID"></span></span>
		<br />
		<br /><span>Win Percentage: <span id="winPercent"></span></span>
		<br /><span>Number of Games Sampled: <span id="numGamesSampled"></span></span>
</div>
		<br />
		<br />
		<br />
		<br />
		<br />
	<div class="foot">
		<footer>
			<p>
				This is a class project for CSCI 3308: Software Development Methods and Tools at CU Boulder.
			</p>
			<p>
				LoLith isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends &copy;Riot Games, Inc.
			</p>
		</footer>
	</div>
</div>
  </body>


<script src="/scripts/jquery-1.12.1.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/summonerLookUp.js" type="text/javascript"></script>
</html>
