body{
    background-color: black;
  }


.region-selection{
  width: 200px;
}

#userName, #enemyName{
  width: 200px;
}

.bot-space{
  margin-bottom: 5px;
}

.title h1{
  font-size: 80px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 2px black;
  color: white;
  padding-left: 100px;
  padding-right: 100;

}
.title p{
  font-size: 30px;
  font-family: 'orbitron',sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  padding-left: 100px;
  background-attachment: fixed;
}

.main span{

  padding: 2px;
  padding-right: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: black;
  background-image: url('http://eskipaper.com/images/league-of-legends-wallpaper-18.jpg');

}
.wrapper{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.sliding-background{
  z-index: -1;
  background-size: cover;
  background: url("backimg.png") repeat-x;
  height: 200px;
  width: 5076px;
  animation: slide 110s linear infinite;
  opacity: .8;
}
@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3000px, 0, 0);
  }
}
.main{
  opacity: .6;
  padding-left: 40px;
  background-color: black;
}

a {
  color: #00B7FF;
}
.foot p{
  color: #99e6ff;
  padding-left: 30px;
}
