
.title h1{
  font-size: 60px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  color: #99e6ff;
  padding-left: 100px;
  padding-right: 100;
}
.title p{
  font-size: 20px;
  font-family: 'orbitron',sans-serif;
  color: #99e6ff;
  padding-left: 100px;
}
.main span{
  padding: 2px;
  padding-right: 0px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #99e6ff;
  background-color: black;
}
.main{
  background-image: url('http://eskipaper.com/images/league-of-legends-wallpaper-18.jpg');
}

a {
  color: #00B7FF;
}
.foot p{
  color: #99e6ff;
  padding-left: 30px;
}
